body {
    font: 20px sans-serif;
    text-align: center;
}
h1 {
    font-family: OpenSansLight, sans-serif;
}
.left, .right {
    display: inline-block;
    width: 200px;
}
#asks, #bids {
    font-weight: bold;
}