<!DOCTYPE html>
<html ng-app="xrpvalue" ng-controller="AppCtrl">
  <head>
    <title>xrpvalue</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <link rel="stylesheet" type="text/css" href="assets/fonts/stylesheet.css">

    <script type="text/javascript" src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="ripple.js"></script>
    <script type="text/javascript" src="vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="vendor/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/angular-resource/angular-resource.js"></script>
    <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="vendor/angular-ui-utils/modules/route/route.js"></script>
    <script type="text/javascript" src="src/common/titleService/titleService.js"></script>
    <script type="text/javascript" src="templates-common.js"></script>
    <script type="text/javascript" src="templates-app.js"></script>
    <script type="text/javascript" src="templates-jade-app.js"></script>
    <script type="text/javascript" src="templates-jade-common.js"></script>
    <script type="text/javascript" src="src/xrpvalue.js"></script>
  </head>
  <body>
    <div class="container" ui-view="main"></div>

    <footer>
      <div class="social-buttons">
        <iframe src="http://ghbtns.com/github-btn.html?user=vhpoet&repo=xrpvalue.com&type=fork&count=false&size=small"
          allowtransparency="true" frameborder="0" scrolling="0" width="60" height="21"></iframe>

        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fxrpvalue&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=263745776969330" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width: 80px;height:21px;" allowTransparency="true"></iframe>

        <iframe allowtransparency="true" frameborder="0" scrolling="no"
                src="https://platform.twitter.com/widgets/tweet_button.html?text=Live Ripple XRP Value."
                style="width:80px; height:20px;"></iframe>
      </div>

      <a href="https://www.ripple.com" target="_blank">Ripple Website</a> -
      <a href="https://github.com/vhpoet/ripple-resources" target="_blank">Ripple Resources</a> -
      <a href="https://github.com/vhpoet/xrpvalue.com" target="_blank">Contribute</a> -
      <a href="http://vahehovhannisyan.com" target="_blank">Author</a>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-46198230-1', 'xrpvalue.com');
      ga('send', 'pageview');
    </script>

    <script>
      // Include the UserVoice JavaScript SDK (only needed once on a page)
      UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/a1K1qXp8fnp1jxPJ0rs3oA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

      //
      // UserVoice Javascript SDK developer documentation:
      // https://www.uservoice.com/o/javascript-sdk
      //

      // Set colors
      UserVoice.push(['set', {
        accent_color: '#448dd6',
        trigger_color: 'white',
        trigger_background_color: '#448dd6'
      }]);

      // Identify the user and pass traits
      // To enable, replace sample data with actual user traits and uncomment the line
      UserVoice.push(['identify', {
        //email:      'john.doe@example.com', // User’s email address
        //name:       'John Doe', // User’s real name
        //created_at: 1364406966, // Unix timestamp for the date the user signed up
        //id:         123, // Optional: Unique id of the user (if set, this should not change)
        //type:       'Owner', // Optional: segment your users by type
        //account: {
        //  id:           123, // Optional: associate multiple users with a single account
        //  name:         'Acme, Co.', // Account name
        //  created_at:   1364406966, // Unix timestamp for the date the account was created
        //  monthly_rate: 9.99, // Decimal; monthly rate of the account
        //  ltv:          1495.00, // Decimal; lifetime value of the account
        //  plan:         'Enhanced' // Plan name for the account
        //}
      }]);

      // Add default trigger to the bottom-right corner of the window:
      UserVoice.push(['addTrigger', { mode: 'smartvote', trigger_position: 'bottom-right' }]);

      // Or, use your own custom trigger:
      //UserVoice.push(['addTrigger', '#id', { mode: 'smartvote' }]);

      // Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
      UserVoice.push(['autoprompt', {}]);
    </script>
  </body>
</html>
