h1 XRP Value
.row(ng-repeat="(name,book) in prices")
  .name.col-xs-12 {{name}}
  .col-xs-12.col-sm-6
    .value
      div(ng-show="book.asks")
        span#asks {{book.asks}} XRP
        |  can get you
        span#asks  $1
        br
        span#asks 1 XRP
        |  can get you
        span#asks  {{1/book.asks | number:4}} USD
      div(ng-hide="book.asks")
        | Loading...
  .col-xs-12.col-sm-6
    .value
      div(ng-show="book.bids")
        | $1 can get you
        span#bids  {{book.bids}} XRP
        br
        span#asks {{1/book.bids | number:4}} USD
        |  can get you 1 XRP.
      div(ng-hide="book.bids")
        | Loading...
.row(ng-hide="loaded")
  .value Loading...