h1 XRP Value
.row(ng-repeat="(name,book) in prices")
  .name.col-xs-12 {{name}}
  .col-xs-6
    .value
      div(ng-show="book.asks")
        span#asks {{book.asks}} XRP
        |  can get you 1$
      div(ng-hide="book.asks")
        | Loading...
  .col-xs-6
    .value
      div(ng-show="book.bids")
        | 1$ can get you
        span#bids  {{book.bids}} XRP
      div(ng-hide="book.bids")
        | Loading...
.row(ng-hide="loaded")
  .value Loading...