h1 XRP Value
.row
  .col-xs-6
    .jumbotron
      div(ng-show="asks")
        span#asks {{asks}} XRP
        |  can get you 1$
      div(ng-hide="asks")
        | Loading...
  .col-xs-6
    .jumbotron
      div(ng-show="bids")
        | 1$ can get you
        span#bids  {{bids}} XRP
      div(ng-hide="bids")
        | Loading...