h1 XRP Value
.row(ng-show="loaded")
  .col-xs-12.col-lg-6
    h2 American Dollars
    .row(ng-repeat="(name,book) in prices.dollar")
      .name.col-xs-12 {{name}}
      .col-xs-12.col-sm-6
        .value
          div(ng-show="book.asks")
            span#asks {{book.asks}} XRP
            |  can get you
            span#asks  1 USD
            br
            span#asks 1 XRP
            |  can get you
            span#asks  {{1/book.asks | number:4}} USD
          div(ng-hide="book.asks")
            | Loading...
      .col-xs-12.col-sm-6
        .value
          div(ng-show="book.bids")
            span#bids 1 USD
            |  can get you
            span#bids  {{book.bids}} XRP
            br
            span#asks {{1/book.bids | number:4}} USD
            |  can get you
            span#bids  1 XRP.
          div(ng-hide="book.bids")
            | Loading...
  .col-xs-12.col-lg-6
    h2 Chinese Yuan
    .row(ng-repeat="(name,book) in prices.yuan")
      .name.col-xs-12 {{name}}
      .col-xs-12.col-sm-6
        .value
          div(ng-show="book.asks")
            span#asks {{book.asks}} XRP
            |  can get you
            span#asks  1 CNY
            br
            span#asks 1 XRP
            |  can get you
            span#asks  {{1/book.asks | number:4}} USD
          div(ng-hide="book.asks")
            | Loading...
      .col-xs-12.col-sm-6
        .value
          div(ng-show="book.bids")
            span#bids 1 CNY
            |  can get you
            span#bids  {{book.bids}} XRP
            br
            span#asks {{1/book.bids | number:4}} USD
            |  can get you
            span#bids  1 XRP.
          div(ng-hide="book.bids")
            | Loading...
.row(ng-hide="loaded")
  .value Loading...