.row
  .col-xs-6
    span#asks(ng-show="asks") {{asks}} XRP
    span#asks(ng-hide="asks") ??? XRP
    |  can get you 1$
  .col-xs-6
    | 1$ can get you
    span#bids(ng-show="bids")  {{bids}} XRP
    span#bids(ng-hide="bids")  ??? XRP