body {
  text-align: center;
}
.container {
  font: 16px sans-serif;
}
.static, .dynamic {
  font-weight: bold;
}
.name {
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.value {
  padding: 10px;
  margin-bottom: 20px;
  font-weight: 200;
  line-height: 35px;
  color: inherit;
  background-color: #eeeeee;
  border-radius: 6px;
  text-align: left;

  i {
    padding: 0 3px;
  }

  &.up {
    .way .dynamic, .contra .dynamic {
      color: green;
    }
  }
  &.down {
    .way .dynamic, .contra .dynamic {
      color: red;
    }
  }
}
.social-buttons {
  margin: 30px 0 20px;
}
footer {
  margin: 10px 0;
}

.row-padding-small {
  &.row {
    padding-left: (@grid-gutter-width / 3);
    padding-right: (@grid-gutter-width / 3);
  }

  .row {
    padding-left: (@grid-gutter-width / 3);
    padding-right: (@grid-gutter-width / 3);
  }

  [class*='col-'] {
    padding-left:  (@grid-gutter-width / 6);
    padding-right: (@grid-gutter-width / 6);
  }
}